div{
    font-size: 13pt;
    font-family: "Roboto", "Helvetica", sans-serif;
    font-style:normal;
    color: black
  }

  h1{
    font-family: "Roboto", "Helvetica", sans-serif;
    font-size: 16px;
    color:black;
    text-align: center;
  }

  h2{
    font-family: "Roboto", "Helvetica", sans-serif;
    font-size: 16px;
    color:black;
    text-align: center;
  }

  #container{
    width: 600px;
    border: 2px;
    border-color:silver;
    border-style: solid;
    padding: 5px;
    background-color: rgb(90, 56, 76);
    color: white;
    font-weight: bold;
  }

  body{
    background-color: silver;
  }

  .center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
  }