div{
    font-size: 13pt;
    font-family: "Roboto", "Helvetica", sans-serif;
    font-style:normal;
    color: black;
    text-indent: 50px;
  }

  h1{
    font-family: "Roboto", "Helvetica", sans-serif;
    font-size: 16px;
    color:black;
    text-align: center;
  }

  h2{
    font-family: "Roboto", "Helvetica", sans-serif;
    font-size: 16px;
    color:black;
    text-align: center;
  }

  #container{
    width: 600px;
    border: 2px;
    border-color:silver;
    border-style: solid;
    padding: 5px;
    background-color: rgb(104, 94, 100);
    color: white;
    font-weight: bold;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }

  body{
    background-color: silver;
  }

  .center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:30%;
    height:30%;
  }

  .center1{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:50;
    height:30%;
  }